table, thead, td {
  width: 500px;
  height: 40px;

  border: 1px solid black;
  border-collapse: collapse;

  text-align: center;
  vertical-align: middle;

  clear: both;
}

td:hover {
  background-color: yellow;
}

.marker, td:hover.marker {
  background-color: grey;
}

.corner, td:hover.corner {
  background-color: white;

  border-top-style: none;
  border-left-style: none;
}

.left-side {
  float: left;

  padding-left: 25px;
  padding-right: 50px;
}

.sunk  {
  color: red;
}

.reset {
  margin-top: 20px;
  font-size: 25px;
  margin-left: 200px;
}

.normal {
  color: black;
}
